@media print {

    .header{
        display: none;
        font-size: xx-large;
    }

    .cta-section{
        display: none;
    }

    .main-wrapper{
        margin-left: 0;
    }

    .resume-container{
        width: 100%;
        max-width: 100%;
    }

    .col-xl-9{
        width: 80%;
    } 

    .col-xl-3{
        width: 20%;
        font-size: 1rem;
    }

    .resume-intro{
        font-size: 1rem;
    }

    .resume-name{
        font-size: 3rem;
    }

    .resume-tagline{
        font-size: 2rem;
    }

    .contact {
        display: flex;
    }

    /* Two pages CV  */
    .resume-main .item-content {
        font-size: 0.95rem;
    }


}